@model ClaimsAuth.Controllers.ProfilerIndexViewModel
@{
    ViewBag.Title = "Profiler";
}

<h2>Profiler</h2>

@Html.ActionLink("Add Single Claims", "AddClaims")
<br />
@Html.ActionLink("Add Random Claims", "AddRandomClaims")

<p>
    App Cookie Length: @Model.AppCookieLength
    <br />
    All Claims Text Length: @Model.TotalClaimsLength
    <br />
    Cookie per claim: @Model.CookiePerClaims
</p>

<h3>Your Cookies</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cookie Name</th>
            <th>Cookie Size</th>
            <th >Value</th>
        </tr>
    </thead>
    @for (var i = 0; i < Model.Cookies.Count; i++)
    {
        
        var cookie = Model.Cookies[i];

        <tr>
            <td>@cookie.Name</td>
            <td>@cookie.Value.Length</td>
            <td style="width: 100px;">@(cookie.Value.Length > 50 ? cookie.Value.Substring(0, 50)+"..." : cookie.Value)</td>
        </tr>
    }
</table>

<h3>Your claims</h3>
<ul>
    @foreach (var claim in Model.Claims)
    {
        <li>@claim.Type == @claim.Value</li>
    }
</ul>
