@model ClaimsAuth.Controllers.UsersIndexViewIndex

@{
    ViewBag.Title = "List of users";
}

<h2>List of users</h2>


<table class="table">
    <thead>
        <tr>
            <td></td>
            <td>UserName</td>
            <td>Is Lockout Enabled</td>
            <td>Access Failed Count</td>
            <td>Lockout End Date Utc</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit Roles", "EditRoles", new { userId = user.Id }, new { @class = "btn btn-primary btn-xs" })
                    @Html.ActionLink("View Claims", "ViewClaims", new { id = user.Id }, new { @class = "btn btn-primary btn-xs" })
                </td>
                <td>@user.UserName</td>
                <td>@user.LockoutEnabled</td>
                <td>@user.AccessFailedCount</td>
                <td>@user.LockoutEndDateUtc</td>
            </tr>
        }
    </tbody>
</table>